.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: 10px !important;
  right: 20px !important;
  top: unset;
  left: unset;
  height: 30px !important;
  width: 50x !important;
  max-width: unset !important;
  max-height: unset !important;
}